#gmap {
  height: 100%;
  width: 95%;
  margin: auto;
}

#map-container {
	height:100%;
}

body {
	height : 100%;
}

#p-container{
	width: 85%;
	margin:auto;
	height: 100%;
	-webkit-box-shadow: 0px -1px 12px 0px rgba(181,181,181,0.59);
	-moz-box-shadow: 0px -1px 12px 0px rgba(181,181,181,0.59);
	box-shadow: 0px -1px 12px 0px rgba(181,181,181,0.59);
}

