#controlessubir {
   padding-left: 50px;
   float:left;
   width:40%;
}

img{
   background-color: #f2f2f2;
}

#comentario{
   border-style: dotted;  
}


#comments{
   height: 500px;
   overflow-y: scroll;
}

#navbar{
   float:left;
   width: 55%;
}

#mapa{
   height:500px;
   width:800px;
   float: left;
}


