#controlessubir {
   padding-left: 50px;
   float:left;
   width:40%;
}

img{
   background-color: #f2f2f2;
}

#container{
	left:20px;
	background-color: blue;
	
}
#comentarios{
   width: 550px;
   height: 400px;  
   float: right;
   background-color: transparent;
   margin: 10% 10px;
  padding: 5px;
}

#foto{
   float:left;
   width: 400px;
   left:20px;
   margin: 10% 10px;
  padding: 5px;
}

body{
	background-image: url("http://cdn.pcwallart.com/images/camera-wallpaper-2.jpg");
}
#navbar{
   float:left;
   width: 55%;
   left:20px;
}

#mapa{
   height:500px;
   width:800px;
   float: left;
}

#dialogbox {
  overflow-y: scroll;
  float:right;
  right:20px;
  width: 550px;
  height: 400px;
  margin: 10% 10px;
  padding: 5px;
  background-color: transparent;
}




