#mensajes{
	height: 80%;
	overflow-y:auto;
	width: 65%;
	border: 1px solid black;
	float:right;
}
#contactos{
	height: 100%;
	overflow-y:auto;
	width: 35%;
	border: 1px solid red;
	float:left;
}
#input{
	height: 20%;
	overflow-y:auto;
	width: 65%;
	border: 1px solid red;
	float:right;
}
#menContainer{
	width:70%;
	margin:auto;
	height:400px;
}
.contacto{
	cursor: pointer;
	height:80px;
	width:100%;
}
.mensaje{
	height:50px;
	width:100%;
}