#mensajes{
	height: 90%;
	overflow-y:auto;
	width: 100%;
	border: 1px solid black;
	float:right;
}
#contactos{
	height: 90%;
	overflow-y:auto;
	width: 100%;
	border: 1px solid red;
	float:left;
}
#input{
	height: 10%;
	width: 100%;
	border: 1px solid red;
	float:right;
}
#menContainer{
	width:70%;
	margin:auto;
	height:400px;
}
.contacto{
	cursor: pointer;
	height:80px;
	width:100%;
}
.mensaje{
	height:50px;
	width:100%;
}
#crearC{
	height: 10%;
	width: 100%;
	border: 1px solid red;
	clear: left;
}
#izqContainer{
	float:left;
	width: 25%;
	height:100%;
}
#derContainer{
	float:right;
	width: 75%;
	height:100%;
}
